@layer base {
  * {
    box-sizing: border-box;
  }

  :root {
    color-scheme: light dark;
    --light-font-color: #000000;
    --dark-font-color: #ffffff;
  }
  html {
    background-color: light-dark(#fcf8e3, rgb(25, 3, 27));
    color: light-dark(var(--light-font-color), var(--dark-font-color));
  }

  main,
  footer {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
  }
}
